.slide_scroll_list_wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 600px;
}

.slide_scroll_list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap:40px;
}
.slide_scroll_item {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  justify-content: center;
  width: 280px;
  height: 400px;
  font-weight: 700;
}