.slide_scroll_list_wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
}

.slide_scroll_list {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}