.navigation {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color:#fff;
  background-color: #000;
  height:100vh;
  transform-origin:bottom;
  transform: scale(1, 0);
  transition: transform .3s;
}
.navigation[aria-hidden="false"] {
  transform: scale(1, 1);
}

.navigation ul {
  position:relative;
  top:40%;
}
.navigation li {
  margin:20px 0;
  font-size:2rem;
  opacity:0;
}