.box_img {
  height:100%;
  position:absolute;
  top:0%;
  left:0%;
  z-index:2;
}
.input_box:hover {
  opacity:0.5
}
.label {
  display:block;
  font-size:.7rem;
  color:#000;
  margin:10px 0;
}
.input {
  border:1px solid #000;
  border-radius:10px;
  padding:2px 5px;
}
.error {
  color:red;
}
.error_area {
  display:flex;
  padding:10px;
  align-items:center;
}