.title {
  color:#ff69b8;
  font-size:4vw;
  display:flex;
  justify-content:center;
  margin:0 0 20px 0;
}
.prev {
  border:1px solid #ff69b8;
  color:#fff;
  bottom:10%;
  width:16vw;
  height:8vw;
  background:#ff69b8;
  border-radius:5px;
  max-width: 100px;
  max-height: 50px;
}
.prev::after {
  content:""
}
.next {
  border:1px solid #ff69b8;
  color:#fff;
  bottom:10%;
  width:16vw;
  height:8vw;
  background:#ff69b8;
  border-radius:5px;
  max-width: 100px;
  max-height: 50px;
}
.next::after {
  content:""
}
.index {
  position:absolute;
  bottom:10%;
  left:50%;
  transform:translate(-50%,-50%);
}