.navigation {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  color:#fff;
  background-color: #000;
}

.navigation[aria-hidden="false"] {
  display: flex;
}
.navigation[aria-hidden="false"] {
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-delay: 2s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}